body {
    padding-top: 5rem;
    background-color: #d4d4d4;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
 .sede
 {
  float:right;
  width:300px;
  height:300px;
 }
.form label{
   display: inline-block;
   text-align: right;
   float: left;
}
.form input{
   display: inline-block;
   text-align: left;
   float: right;
}